
### IntelliJ project files
.idea
*.iml
out
gen

### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.lib
*.a

# Dependency directories (remove the comment below to include it)
# vendor/

#
go.mod
go.sum