
* {
    margin: 0;
    padding: 0;
    color: #051c22;
    font-family: Consolas, sans-serif;
}

a, input, button {
    color: #051c22;
!important;
}

.box::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: #fffbfb;
}

header {
    width: 100%;
    height: 8%;
    background: #abcdef;
    text-align: center;
    padding: 7px 0;
}

nav {
    width: 100%;
    height: 8%;
}

aside {
    width: 100%;
    height: 84%;
    overflow-y: auto;
    background: #abcdef;
    padding: 7px 0 0 0;
    -ms-overflow-style: none;
}

.mdui-tab {
    overflow-x: hidden;
    background: white;
}

.mdui-panel-item {
    margin: 0 auto;
    width: calc(100% - 14px);
}

header p {
    width: 100%;
    height: 100%;
}

#h-method {
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: white;
    width: 60px;
    height: 100%;
    vertical-align: middle;
}

#h-url {
    outline: none;
    border: none;
    border-left: 1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
    height: 100%;
    width: calc(100% - 145px);
    vertical-align: middle;
    padding: 0 5px;
}

#h-send {
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
    width: 60px;
    height: 100%;
    vertical-align: middle;
}

.item {
    margin: 10px 0;
    height: 35px;
    line-height: 35px;
}

.item.mdui-ripple {
    background: #abcdef;
    text-align: center;
    border-radius: 5px;
}

.item-seq, .item-key, .item-val, .item-del {
    vertical-align: middle;
    background: #abcdef;
    outline: none;
    border: none;
    height: 100%;
    border-left: 1px solid white;
}

.item-seq, .item-del {
    width: 40px;
}

.item-seq {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.item-del {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item-key, .item-val {
    padding: 0 5px;
}

.item-key {
    width: calc(38% - 51px);
}

.item-val {
    width: calc(62% - 51px);
}

.radius-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.radius-bot {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#result-text {
    width: calc(100% - 15px);
    margin: 0 auto;
    height: 260px;
    background: #abcdef;
    border-radius: 5px;
    outline: none;
    border: none;
    resize: vertical;
    padding: 5px;
}